.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 650px;
    position: relative;
    margin: 0; /* Ensure no margin */
    padding: 0; /* Ensure no padding */
  }
  
  .carousel-image {
    min-width: 100%;
    height: 100%;
    background-size:cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .carousel-image.active {
    opacity: 1;
  }